.mt-n7{
    margin-top:-7.5px;
}
.mt-n5{
    margin-top:-5px;
}
.ml-n7{
    margin-left:-7.5px;
}
.ml-n4{
    margin-left:-4px;
}
.ml-20{
    margin-left:20px;
}
.mr-10{
    margin-right:10px;
}
.mb-10{
    margin-bottom:10px;
}
.bd-1{
    border:1px solid #ccc;
}
.bd-left-1{
    border-left:1px solid #ccc;
}
.bd-radius-5{
    border-radius:5px;
}
.inline-block{
    display:inline-block;
}
.w1{
    width:1px;
}
.w10{
    width:10px;
}
.w15{
    width:15px;
}
.h-1{
    height:1px;
}
.h10{
    height:10px;
}
.h9{
    height:9px;
}
.h15{
    height:15px;
}
.h20{
    height:20px;
}
.h28{
    height:28px;
}
.tc-gray{
    color:#ccc;
}
.tc-black{
    color:#333;
}
.tc-white{
    color:#fff;
}
.ts-13{
    font-size:13px;
}
.bg-white{
    background-color:#fff;
}
.bg-gray{
    background-color:#ccc;
}
.bg-blue{
    background-color:#1985ac;
}
.pointer{
    cursor:pointer;
}
.middle{
    vertical-align:middle;
}
.pos-abs{
    position:absolute;
}
.pos-rel{
    position:relative;
}
.left-n25{
    left:-25px;
}
.left-n20{
    left:-20px;
}
.left-n5{
    left:-5px;
}
.left-15{
    left:15px;
}
.top-n20{
    top:-20px;
}
.top-n10{
    top:-10px;
}
.top-8{
    top:8px;
}
.top-7{
    top:7px;
}
.top-13{
    top:13px;
}
.bottom-0{
    bottom:0;
}
.bottom-n1{
    bottom:-1px;
}
.none{
    display:none;
}
